name: Dependabot Auto-merge

on:
  pull_request_target:
    types: [opened]

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Auto-merge Dependabot PRs
        uses: actions/github-script@v6
        with:
          script: |
            gh pr merge --auto --merge "$PR_URL"
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
